<!DOCTYPE html>
<html>
<head>
    <title>Book Info: @ViewBag.Title</title>
 
    <link asp-href-include="lib/bootstrap/dist/**/*.min.css" rel="stylesheet" />
    <script asp-src-include="lib/jquery/dist/*.min.js"></script>
    <script asp-src-include="jquery-validation/dist/jquery.*.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/dist/jquery.*.min.js"></script>

    <style>
        body 
        {
            background-color:antiquewhite;
            padding:5px;
        }
    </style>
</head>
<body>
    <h1>Book Info: @ViewBag.Title</h1>
    <h3>Menu:</h3>
    <p>
        <a asp-controller="Home" asp-action="Index">Home</a><br />
        <a asp-controller="Book" asp-action="Index">Show all books</a><br />
        <a asp-controller="Book" asp-action="BooksByGenre" 
             asp-route-genre="Fantasy">Show fantasy books</a><br />
        <a asp-controller="Book" asp-action="BooksByGenre"
             asp-route-genre="Historical Fiction">Show historical fiction books</a><br />
        <a asp-controller="Home" asp-action="Authors">Show all authors</a><br />
    </p>
    @RenderBody()
</body>
</html>