@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form asp-action="Login" method="post">
    <div asp-validation-summary="    All " class="text-danger"></div>
    <p>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </p>
    <br />
    <p>
        <label asp-for="Password"></label><br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </p>

    <button type="submit">Login</button>
</form>