@model List<BookInfo.Models.Author>
@{
    ViewBag.Title = "Authors";
}

<h2>List of Authors</h2>
@foreach (var a in Model)
{
    @:Name: @a.Name <br />
    @:Birthday: @a.Birthday.ToString("MMMM dd, yyyy") <br /><br />
}
