@model List<BookInfo.Models.Book>
@{ Layout = "_Layout"; }

    <h1>List of Books</h1>
    @foreach (var b in Model)
    {
        @:Title: @b.Title <br />
        @:Published: @b.Date.ToString("yyyy") <br />
        foreach (var a in b.Authors)
        {
            @:Author: @a.Name <br />
        }
        @:Genre: @b.Genre <br /><br />
    }