@model BookInfo.Models.ReviewViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Review";
}
<h1>Enter a Book Review</h1>
Title: @Model.Title

<form asp-controller="Review" asp-action="ReviewForm" method="post">
    <input asp-for="BookId" type="hidden" />

    <label asp-for="BookReview.Body"></label>
    <input asp-for="BookReview.Body" />

    <label asp-for="BookReview.Rating"></label>
    <input asp-for="BookReview.Rating" />

    <button type="submit">Post</button>
</form>
